.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Due colonne di uguale larghezza */
  grid-template-rows: auto; /* Altezza automatica basata sul contenuto */
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container {
  width: 2000px; /* Assicura che il form-container sia largo quanto l'immagine */
  max-width: 400px; /* Imposta una larghezza massima per il form-container */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi del form-container */
}

img {
  width: 100%; /* Assicura che l'immagine si adatti al contenitore */
  height: 400px; /* Imposta un'altezza fissa per tutte le immagini */
  object-fit: cover; /* Assicura che l'immagine copra il contenitore senza distorsione */
  border-radius: 20px;
}

.form {
  width: 300px;
}