<app-grid>
  <ng-container grid-left>
    <img src="../../../assets/images/image3.webp" alt="Immagine">
  </ng-container>
  <ng-container grid-center>
    <div class="container">
      <div class="form-container">
        <mat-form-field appearance="fill" class="form">
          <mat-label>Nome</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form">
          <mat-label>Cognome</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form">
          <mat-label>Scrivi il tuo messaggio qui...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  <ng-container grid-right>
    <img src="../../../assets/images/image5.webp" alt="Immagine">
  </ng-container>
</app-grid>
