<app-layout>
  <br>
  <ng-container layout-nav>
    <button mat-button routerLink="/login">Accedi</button>
    <button mat-button routerLink="/signin">Registrati</button>
  </ng-container>
  <ng-container>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/images/image10.webp" alt="Immagine">
      </div>
      <div class="grid-item center">
        <h1>Politica sui Cookie</h1>
        <p>
          Utilizziamo i cookie per migliorare la tua esperienza sul nostro sito web. I cookie sono piccoli file di testo che vengono memorizzati sul tuo dispositivo quando visiti il nostro sito. Essi ci aiutano a capire come utilizzi il nostro sito, personalizzare i contenuti e gli annunci, fornire funzionalità dei social media e analizzare il nostro traffico. Continuando a navigare su questo sito, acconsenti all'uso dei cookie. Per maggiori informazioni, consulta la nostra.
        </p>              
      </div>
      <div class="grid-item">
        <img src="../../../assets/images/image9.webp" alt="Immagine">
      </div>
    </div>
    <br>
    <div class="grid-container">
      <div class="grid-item left">
        <h1>Termini di Utilizzo</h1>
        <p>
          Questi termini di utilizzo regolano l'accesso e l'uso del nostro sito web. Utilizzando il nostro sito, accetti di rispettare questi termini. Ti invitiamo a leggere attentamente le condizioni qui riportate. Per ulteriori dettagli, consulta la nostra.
        </p>
      </div>
      <div class="grid-item center">
        <img src="../../../assets/images/image11.webp" alt="Immagine">
      </div>
      <div class="grid-item right">
        <h1>Condizioni di Contratto</h1>
        <p>
          Le presenti condizioni di contratto disciplinano i rapporti tra noi e i nostri clienti. Leggi attentamente queste condizioni prima di effettuare un acquisto o di utilizzare i nostri servizi. Per ulteriori informazioni, consulta la nostra.
        </p>
      </div>
    </div>
    <br>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/images/image12.webp" alt="Immagine">
      </div>
      <div class="grid-item center">
        <h1>Informativa sulla Privacy</h1>
        <p>
          La tua privacy è importante per noi. Questa informativa sulla privacy descrive come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali. Per comprendere appieno le nostre pratiche, leggi la nostra.
        </p>
      </div>
      <div class="grid-item">
        <img src="../../../assets/images/image13.webp" alt="Immagine">
      </div>
    </div>
  </ng-container>
  <br>
</app-layout>
