<mat-toolbar color="primary">
    <span>
        <a routerLink="/" style="text-decoration: none;">Banca-rotta</a>       
    </span>
    <span class="accesso"></span>
    <button mat-button [routerLink]="'/login'">Accedi</button>
    <button mat-button [routerLink]="'/signin'">Registrati</button>
</mat-toolbar>
<div class="welcome">
    <h1>Benvenuto nella banca</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil id, a culpa sunt blanditiis odit unde ut nesciunt aliquam aspernatur delectus autem. Quae, ducimus.</p>
</div>
<ng-container layout-footer> &copy;{{currentYear}}</ng-container>
