.welcome {
    text-align: center;
    margin-top: 50px;
    max-width: 100%,
  
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1em;
    }
}

.image1 {
  width: auto;
  height: auto;
  align-items: left;
}

.image2 {
 width: auto;
  height: auto;
  align-items: right;
}
