.welcome {
    text-align: center;
    margin-top: 50px;
  
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1em;
    }
}

.image1 {
  width: 1000px;
  height: 1000px;
}