<app-layout>
    <ng-container layout-nav>
      <button mat-button routerLink="/users">I nostri clienti</button>
      <button mat-button routerLink="/login">Accedi</button>
      <button mat-button routerLink="/signin">Registrati</button>
    </ng-container>
    <ng-container>
      <article class="user">
        @if( user | async; as user){
          <br>
          <div class="flexUp">
            <img [src]="user.image">
            <div class="flexCol">
              <h1>{{user.firstName+' '+user.lastName}}</h1>
              <br>
              <h2>Caratteristiche:</h2>
              <p>
                Sesso: {{user.gender}}<br>
                Data di nascita: {{user.birthDate}}<br>
                Età: {{age}} <br>
                Altezza: {{user.height}}<br>
                Peso: {{user.weight}}<br>
                Colore degli occhi: {{user.eyeColor}}<br>
                Gruppo sanguigno: {{user.bloodGroup}}<br>
                <br>
                Username: {{user.username}}<br>
                Password: {{user.password}}<br>
                <br>
                Indirizzo IP: {{user.ip}}<br>
                Indirizzo MAC: {{user.macAddress}}<br>
                <br>
                Email: {{user.email}}<br>
                Telefono: {{user.phone}}<br>
                Indirizzo: {{user.address.address}}, {{user.address.city}}, {{user.address.postalCode}}, {{user.address.country}} <br>
              </p>
            </div>
          </div>
          <p>
            Il presente cliente {{user.firstName+' '+user.lastName}} possiede la seguente carta di credito presso la nostra banca<br>
            <br>
            Tipo: {{user.bank.cardType}}<br>
            Numero: {{user.bank.cardNumber}}<br>
            IBAN: {{user.bank.iban}}<br>
            Valuta: {{user.bank.currency}}<br>
            <br>
            Alla data odierna la presente carta risulta con scadenza: {{user.bank.cardExpire}} con quindi {{daysUntilExpiration}} giorni mancanti al rinnovo di quest'ultima.
          </p>
        }
      </article>
    </ng-container>
  </app-layout>
